@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none   ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #a69df7
}

.imgIconBackGround {
    width: 10vw;
    display: block;
    margin: 20px auto;
}

#containerConverter {
    max-width: 360px;
    width: 400px;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: grid;
    border-radius: 15px;
    box-sizing:content-box;
}

img {
    width: 60px;

}

.converter {
    font-size: clamp(7px, 2vw, 13px);
    display:grid;
    margin: 15px;
    color: #000000;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button:hover {
    opacity: 0.7;
}

button {
        border: solid 2px;
    border-radius: 5px ;
    width: 100%;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
    border-color: #a69df7;
    background-color: #a69df7;
    color: white;
}

.containerConvertation {
    border-style: solid;
    margin: 15px;
    border-radius: 30px;
    border-color: #a69df7;
    
}

.containerConverter {
    text-align: center;
    padding: 5px;
    
}

.arrowImg {
    width: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowImgContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.value {
    font-weight: bolder;
    text-align: center;
}

select {
    border-radius: 5px;
    border: solid 1px;
    height: 30px;
    font-weight: 600;
    padding-left: 10px;
    color: #555555;
}

.inputValue {
    border-radius: 10px;
    border: solid 1px;
    height: 30px;
    padding-left: 10px;
}

.real1, .money {
    margin: 1px;
}

.euroIcon {
    display: none;
    margin: 0 auto;
}

.libraIcon {
    display: none;
    margin: 0 auto;
}

.euaIcon {
    margin: 0 auto;
}